.header {
  position: fixed;
  height: 10vh;
  background: rgb(18, 41, 18);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
}

.header img {
  height: 80%;
  margin-left: 10%;
}

.Lists {
  display: flex;
  justify-content: space-around;
  margin-right: 10%;
  width: 30%;
  list-style-type: none;
}

.Lists li {
  transform: scale(1);
  transition: all 300ms;
}

.Lists li:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.MobileContainer {
  display: none;
}

.Events,
.MemberDetail,
.Members,
.AdminDashboard,
.AdminLogin {
  position: absolute;
  top: 10%;
}

.Members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 5%;
}

.Members h2 {
  font-size: 30px;
}

.AllMabers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member_brief_detail {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px 10px;
  border: 1px solid lightgray;
  padding: 5px;
  height: max-content;
}

.member_brief_detail:hover {
  box-shadow: 11px 10px 21px -3px rgba(0, 0, 0, 0.242);
  -webkit-box-shadow: 11px 10px 21px -3px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 11px 10px 21px -3px rgba(0, 0, 0, 0.239);
}

.member_brief_detail button {
  margin-bottom: 2%;
  margin-bottom: 5%;
  background: navy;
  border: none;
  padding: 1%;
  border-radius: 5px;
  color: white;
  height: 5vh;
}

.HomeContainer {
  position: absolute;
  left: 0;
  right: 0;
}

.member_image img {
  width: 85%;
}

.member_image {
  margin-left: 7%;
  margin-top: 2%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-pagination-bullet {
  background: #ffff;
}

.swiper-slide .image-container img {
  width: 100%;
}

.Lists a,
.member_brief_detail button a {
  color: #ffff;
  text-decoration: none;
}

.member_brief_detail .delete_button {
  background: red;
  margin-top: 3%;
}

/* .member_brief_detail button a {
  text-decoration: none;
} */

.member_name,
.member_post p {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .Lists {
    display: none;
  }

  .HomeContainer {
    position: absolute;
    left: 0;
  }

  .hamburger {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    margin-right: 10%;
  }

  .MobileContainer {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 12, 0, 0.808);
    backdrop-filter: blur(7px);
    z-index: 11;
    left: 0;
  }

  .Mobile-List {
    height: 75vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    align-items: center;
    position: absolute;
    top: 15%;
  }

  .member_brief_detail {
    width: 70%;
    min-width: 100%;
  }

  .Mobile-List a {
    text-decoration: none;
    color: aliceblue;
  }

  .cancel {
    font-size: 32px;
    color: aliceblue;
    position: absolute;
    right: 11%;
    top: 1%;
  }

  .mobile {
    display: flex;
    animation-name: mobile;
    animation-duration: 2.5s;
    transition: all 350ms;
    justify-content: center;
    height: 100vh;
  }

  @keyframes mobile {
    0% {
      transform: translateY(-40%);
      opacity: 0.6;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .swiper-slide .image-container img {
    width: 90%;
  }

  /*
  .swiper {
    width: 600px;
    height: 300px;
  } */
}
