.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgb(18, 41, 18);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 80%;
  margin-left: 10%;
}

.Lists {
  display: flex;
  justify-content: space-around;
  margin-right: 10%;
  width: 30%;
  list-style-type: none;
}

.Lists li {
  transform: scale(1);
  transition: all 300ms;
}

.Lists li:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.MobileContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .Lists {
    display: none;
  }

  .hamburger {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    margin-right: 10%;
  }

  .MobileContainer {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 12, 0, 0.808);

    /* backdrop-filter: blur(5px); */
  }

  .Mobile-List {
    height: 75vh;
    list-style-type: none;
    color: aliceblue;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    align-items: center;
  }

  .cancel {
    font-size: 32px;
    color: aliceblue;
    position: absolute;
    right: 37px;
    top: 10px;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }
}
